@font-face {
  font-family: "Gotham Book";
  src: url("/gotham-book-webfont.woff") format("woff"),
       url("/gotham-book-webfont.eot"),
       url("/gotham-book-webfont.ttf") format("truetype"),
       url("/gotham-book-webfont.svg#gothambook") format("svg"),
       url("/gotham-book-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Gotham Light";
  src: url("/gotham-xlight-webfont.woff") format("woff"),
       url("/gotham-xlight-webfont.eot"),
       url("/gotham-xlight-webfont.ttf") format("truetype"),
       url("/gotham-xlight-webfont.svg#gothambook") format("svg"),
       url("/gotham-xlight-webfont.woff2") format("woff2");
}


body {
  font-family: "Gotham Book", Fallback, sans-seriff;
}

h1 {
  font-family: "Gotham Book", Fallback, sans-seriff;
  font-size:60px;
  display:flex;
  justify-content: center;
  align-items: center;
  max-width:960px;
  text-align:center;
}
h3 {
  text-align:center;
}

ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

ul li {
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#46413c;
  position:relative;
}

ul li div:first-child {
  position:absolute;
  top:0;
}

#block-counter {
  position:fixed;
  height:0;
  top:0;
  width:0%;
  border-bottom:10px solid rgba(231, 76, 60,1.0);
  transition: 0.5s ease all;
}

#introduction-text {
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#currentQuestion {
  color:#fff;
}

#submitButton {
  width:100%;
  height:100vh;
  background-color:#fff;
  display:flex;
  justify-content: center;
  align-items: center;
}

.defaultButton {
  cursor:pointer;
  font-family: "Gotham Light", Fallback, sans-seriff;
  font-size:48px;
  color:#fff;
  background-color:#0D709A;
  padding: 30px 80px;
  display:block;
  transition:0.2s all ease;

  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px; /* future proofing */
  -khtml-border-radius: 80px; /* for old Konqueror browsers */
}

.processing {
  font-size:0;
  padding: 30px 30px;
  background-color:#becd00;
  transition:0.2s all ease;
  /*transform: scale(0.3, 1);*/
}

.doneProcessing {
  background-color:#d71c4c;
}