.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#temp-questions {
  display:none;
}

.questions {

}

#newQuestions ul {
  width:60%;
  height:100%;
}

h1 {
  font-size:48px;
  display:flex;
  justify-content: center;
  align-items: center;
}

li form {
  display:flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

.blue {
  color:rgba(231, 76, 60,1.0);
}

#nextButton {
  width:100%;
  padding:50px;
  text-align:center;
  background-color:rgba(236, 240, 241,1.0);
  font-size:21;
  position:fixed;
  bottom:0;
}

#block-counter {
  height:0;
  top:0;
  width:0%;
  border-bottom:10px solid rgba(231, 76, 60,1.0);
  transition: 0.5s ease all;
}