body {

}

h1 {
  font-size:48px;
  display:flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align:center;
}

ul {
  list-style-type: none;
}

ul li {
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#block-counter {
  position:fixed;
  height:0;
  top:0;
  width:0%;
  border-bottom:10px solid rgba(231, 76, 60,1.0);
  transition: 0.5s ease all;
}

#introduction-text {
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#currentQuestion {
  
}

#submitButton {
  width:100%;
  padding: 50px 0;
  text-align:center;
  background-color:rgba(236, 240, 241,1.0);
  font-size:21;
  bottom:0;
}